{extend name="app" /}
{block name="title"}{/block}
{block name="css"}
<link href="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css">
{/block}
{block name="content"}
    <div class="row">
        <div class="col-md-12">
            <div class="widget widget-default">
                <div class="widget-header">
                    <h6><i class="fa fa-sticky-note fa-fw"></i>文章</h6>
                </div>
                <div class="widget-body">
                    <table class="table table-hover table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th>标题</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $articles['data'] as $article}
                            {if condition="$article.status ==1"}
                                <tr class="success">
                            {else/}
                                <tr class="danger">
                            {/if}

                                <td>{$article.title}</td>
                                <td>
                                    {if condition="$article.status ==1"}
                                    <span class="label label-sm label-primary"> 已发表 </span>
                                    {else/}
                                    <span class="label label-sm label-warning"> 已禁用 </span>
                                    {/if}
                                </td>
                                <td>
                                    <div>
                                        <div class="tooltip-demo">
                                        <a href="/admin/article/edit/{$article.id}"
                                           data-toggle="tooltip" data-placement="top" title="编辑"
                                           class="btn btn-info">
                                            <i class="fa fa-pencil fa-fw"></i>
                                        </a>
                                        <a href="{{ route('post.show',$post->slug) }}"
                                           data-toggle="tooltip" data-placement="top" title="查看"
                                           class="btn btn-success">
                                            <i class="fa fa-eye fa-fw"></i>
                                        </a>
                                        <button onclick="isOpen('/admin/article/isOpen?status=1&id={$article.id}'); return false;"
                                                class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="启用">
                                            <i class="fa fa-check-square"></i>
                                        </button>

                                        <button onclick="isOpen('/admin/article/isOpen?status=2&id={$article.id}'); return false;"
                                                class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="禁用">
                                            <i class="fa fa-minus-square"></i>
                                        </button>

                                        <button onclick="isOpen('/admin/article/isOpen?status=-1&id={$article.id}'); return false;"
                                                class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="删除">
                                            <i class="fa fa-trash-o  fa-fw"></i>
                                        </button>
                                        <a class="btn btn-default" href="{{ route('post.download',$post->id) }}" data-toggle="tooltip" data-placement="top" title="下载">
                                            <i class="fa fa-cloud-download fa-fw"></i>
                                        </a>
                                    </div>
                                    </div>
                                </td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    {if condition="$articles.last_page > 1"}
                    {$page}
                    {/if}
                </div>
            </div>
        </div>
    </div>
<!--modal-->
    <div class="modal fade" id="delete-post-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">删除</h4>
                </div>
                <div class="modal-body">
                    确定删除<span id="span-title"></span>吗?
                </div>
                <div class="modal-footer">
                    <form id="delete-form" method="post">

                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="redirect" value="/admin/posts">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id="confirm-btn" type="submit" class="btn btn-primary">确定</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{/block}

{block name="script"}
<script src="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script>
        $('.tooltip-demo').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        });

        //启用/禁用
        function isOpen(url){
            $.get(url,function (data) {
                if(data.status==1){
                    swal({
                        title: "OK！",
                        type:'success',
                        timer: 1000,
                        showConfirmButton: false
                    });
                    setTimeout(function () {
                        window.location.reload();
                    },1000)
                }else {
                    swal("", "小主，有错误！", "error");
                }
            });
        }

    </script>
{/block}
