<div class="widget widget-default">
    <div class="widget-header"><h6><i class="fa fa-fire fa-fw"></i>热门文章</h6></div>
    <ul class="widget-body hot-posts">
        {foreach $hotArticles as $article}
            <a class="list-group-item" title="{$article.title}" href="{{ route('post.show',$post->slug) }}">
                <span class="badge">{$article.view_count}</span>
                {$article.title}str_limit 32
                <span class="clearfix"></span>
            </a>
        {/foreach}
    </ul>
</div>